.idea
*.iml
__pycache__/*
/venv/*
/env/*
/Gender_images/*
arff_data.arff
csv_data.csv
script.sh
test_file.json
/GenderData/*
deeplearning-mci
*/*.h5
/gender_split/*/*.jpg
/gender_split/image_data/*/*.jpg
/GenderData/*
