<!DOCTYPE html>
<html>
<!-- <head>
   
    
    <style>
        .chart-container-archive {
            position: relative;
            width: 80vw; /* Adjust as needed */
            height: 50vh; /* Adjust as needed */
        }
    </style>
</head> -->

<head>
    <title>Activity Charts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
{% include 'navbar.html' %}
    <div class="filter-container">
        <label for="personSelect">Select Person ID:</label>
        <select id="personSelect">
            <option value="all">All</option>
            <!-- Options will be added dynamically using JavaScript -->
        </select>
    </div>
    <div class="time-filter-container">
        <label for="timeFilter">Aggregate:</label>
        <select id="timeFilter">
            <option value="all">All</option>
            <option value="1month">1 Month</option>
            <option value="2months">2 Months</option>
            <option value="3months">3 Months</option>
        </select>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col col-4 chart-container">
                <canvas id="yawnChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="smokingChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="mobilephoneChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="distractionChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="eyeclosingChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="crossinglanesChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="nearcollisionChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="pedestrianChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="redlightChart"></canvas>
            </div>
            <div class="col col-4 chart-container">
                <canvas id="stopsignChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        var ctxYawn = document.getElementById('yawnChart').getContext('2d');
        var ctxSmoking = document.getElementById('smokingChart').getContext('2d');
        var ctxDistraction = document.getElementById('distractionChart').getContext('2d');
        var ctxMobilephone = document.getElementById('mobilephoneChart').getContext('2d');
        var ctxEyeclosing = document.getElementById('eyeclosingChart').getContext('2d');
        var ctxCrossinglanes = document.getElementById('crossinglanesChart').getContext('2d');
        var ctxPedestrian = document.getElementById('pedestrianChart').getContext('2d');
        var ctxStopsign = document.getElementById('stopsignChart').getContext('2d');
        var ctxNearcollision = document.getElementById('nearcollisionChart').getContext('2d');
        var ctxRedlight = document.getElementById('redlightChart').getContext('2d');

        var data = {{ data|tojson }};
        var labels = [];
        var valuesYawn = [];
        var valuesSmoking = [];
        var valuesDistraction = [];
        var valuesMobilephone = [];
        var valuesEyeclosing = [];
        var valuesCrossinglanes = [];
        var valuesPedestrian = [];
        var valuesStopsign = [];
        var valuesNearcollision = [];
        var valuesRedlight = [];
        var chartYawn = null;
        var chartSmoking = null;
        var chartDistraction = null;
        var chartMobilephone = null;
        var chartEyeclosing = null;
        var chartCrossinglanes = null;
        var chartPedestrian = null;
        var chartStopsign = null;
        var chartNearcollision = null;
        var chartRedlight = null;

        // Dynamically populate the dropdown options with person IDs
        var personSelect = document.getElementById('personSelect');
        var personIds = Array.from(new Set(data.map(entry => entry.id))); // Extract unique person IDs
        personIds.forEach(function(id) {
            var option = document.createElement('option');
            option.value = id;
            option.textContent = id;
            personSelect.appendChild(option);
        });

        // Function to create a chart based on activity name
        function createChart(ctx, activityName, values) {
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: `# of ${activityName} Activity`,
                        data: values,
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            return chart;
        }
        var activities = ['yawn', 'distraction', 'eyeclosing', 'mobilephone', 'smoking', 'crossinglane', 'pedestrian', 'redlight', 'stopsign', 'nearcollision']
        // Add event listener to update chart data based on selected person ID
        personSelect.addEventListener('change', function() {
            var selectedPersonId = personSelect.value;

            // Clear previous charts and data
            if (chartYawn) {
                chartYawn.destroy();
            }
            if (chartSmoking) {
                chartSmoking.destroy();
            }
            if (chartDistraction) {
                chartDistraction.destroy();
            }
            if (chartEyeclosing) {
                chartEyeclosing.destroy();
            }
            if (chartMobilephone) {
                chartMobilephone.destroy();
            }
            if (chartCrossinglanes) {
                chartCrossinglanes.destroy();
            }
            if (chartPedestrian) {
                chartPedestrian.destroy();
            }
            if (chartStopsign) {
                chartStopsign.destroy();
            }
            if (chartNearcollision) {
                chartNearcollision.destroy();
            }
            if (chartRedlight) {
                chartRedlight.destroy();
            }
            labels = [];
            valuesYawn = [];
            valuesSmoking = [];
            valuesDistraction = [];
            valuesMobilephone = [];
            valuesEyeclosing = [];
            valuesCrossinglanes = [];
            valuesPedestrian = [];
            valuesStopsign = [];
            valuesNearcollision = [];
            valuesRedlight = [];

            // Populate chart data based on selected person ID
            if (selectedPersonId !== 'all') {
                var selectedData = data.filter(entry => entry['id'] === selectedPersonId);
                selectedData.sort((a, b) => a['day'].localeCompare(b['day'])); // Sort by day (date)
                labels = selectedData.map(entry => entry['day']);
                valuesYawn = selectedData.map(entry => entry['yawn']['total']); // Corrected key
                valuesSmoking = selectedData.map(entry => entry['smoking']['total']);
                valuesDistraction = selectedData.map(entry => entry['distraction']['total']);
                valuesEyeclosing = selectedData.map(entry => entry['eyeclosing']['total']);
                valuesMobilephone = selectedData.map(entry => entry['mobilephone']['total']);
                valuesCrossinglanes = selectedData.map(entry => entry['crossinglane']['total']);
                valuesStopsign = selectedData.map(entry => entry['stopsign']['total']);
                valuesPedestrian = selectedData.map(entry => entry['pedestrian']['total']);
                valuesRedlight = selectedData.map(entry => entry['redlight']['total']);
                valuesNearcollision = selectedData.map(entry => entry['nearcollision']['total']);

                // console.log(valuesYawn)
                // Create charts for yawn and smoking activities
                chartYawn = createChart(ctxYawn, 'Yawn', valuesYawn);
                chartSmoking = createChart(ctxSmoking, 'Smoking', valuesSmoking);
                chartDistraction = createChart(ctxDistraction, 'Distraction', valuesDistraction);
                chartMobilephone = createChart(ctxMobilephone, 'Mobile Phone', valuesMobilephone);
                chartEyeclosing = createChart(ctxEyeclosing, 'Eye Closing', valuesEyeclosing);
                chartCrossinglanes = createChart(ctxCrossinglanes, 'Crossing Lanes', valuesCrossinglanes);
                chartPedestrian = createChart(ctxPedestrian, 'Pedestrian', valuesPedestrian);
                chartRedlight = createChart(ctxRedlight, 'Red Light', valuesRedlight);
                chartStopsign = createChart(ctxStopsign, 'Stop Sign', valuesStopsign);
                chartNearcollision = createChart(ctxNearcollision, 'Near Collision', valuesNearcollision);
            }
        });

            // Create initial charts for yawn and smoking activities
            chartYawn = createChart(ctxYawn, 'Yawn', valuesYawn);
            chartSmoking = createChart(ctxSmoking, 'Smoking', valuesSmoking);
            chartDistraction = createChart(ctxDistraction, 'Distraction', valuesDistraction);
            chartMobilephone = createChart(ctxMobilephone, 'Mobile Phone', valuesMobilephone);
            chartEyeclosing = createChart(ctxEyeclosing, 'Eye Closing', valuesEyeclosing);
            chartCrossinglanes = createChart(ctxCrossinglanes, 'Crossing Lanes', valuesCrossinglanes);
            chartPedestrian = createChart(ctxPedestrian, 'Pedestrian', valuesPedestrian);
            chartRedlight = createChart(ctxRedlight, 'Red Light', valuesRedlight);
            chartStopsign = createChart(ctxStopsign, 'Stop Sign', valuesStopsign);
            chartNearcollision = createChart(ctxNearcollision, 'Near Collision', valuesNearcollision);

        // Add event listener to update chart data based on selected time period
    timeFilter.addEventListener('change', function() {
        var selectedTimePeriod = timeFilter.value;

        // Clear previous charts and data
        if (chartYawn) {
                chartYawn.destroy();
            }
            if (chartSmoking) {
                chartSmoking.destroy();
            }
            if (chartDistraction) {
                chartDistraction.destroy();
            }
            if (chartEyeclosing) {
                chartEyeclosing.destroy();
            }
            if (chartMobilephone) {
                chartMobilephone.destroy();
            }
            if (chartCrossinglanes) {
                chartCrossinglanes.destroy();
            }
            if (chartPedestrian) {
                chartPedestrian.destroy();
            }
            if (chartStopsign) {
                chartStopsign.destroy();
            }
            if (chartNearcollision) {
                chartNearcollision.destroy();
            }
            if (chartRedlight) {
                chartRedlight.destroy();
            }
            labels = [];
            valuesYawn = [];
            valuesSmoking = [];
            valuesDistraction = [];
            valuesMobilephone = [];
            valuesEyeclosing = [];
            valuesCrossinglanes = [];
            valuesPedestrian = [];
            valuesStopsign = [];
            valuesNearcollision = [];
            valuesRedlight = [];

        // Populate chart data based on selected person ID and time period
        if (personSelect.value !== 'all') {
            var selectedData = data.filter(entry => entry['id'] === personSelect.value);
            selectedData.sort((a, b) => a['day'].localeCompare(b['day'])); // Sort by day (date)
            
            if (selectedTimePeriod === '1month') {
                selectedData = aggregateData(selectedData, 1);
            } else if (selectedTimePeriod === '2months') {
                selectedData = aggregateData(selectedData, 2);
            } else if (selectedTimePeriod === '3months') {
                selectedData = aggregateData(selectedData, 3);
            }

            labels = selectedData.map(entry => entry['day']);
            valuesYawn = selectedData.map(entry => entry['yawn']['total']); // Corrected key
            valuesSmoking = selectedData.map(entry => entry['smoking']['total']);
            valuesDistraction = selectedData.map(entry => entry['distraction']['total']);
            valuesEyeclosing = selectedData.map(entry => entry['eyeclosing']['total']);
            valuesMobilephone = selectedData.map(entry => entry['mobilephone']['total']);
            valuesCrossinglanes = selectedData.map(entry => entry['crossinglane']['total']);
            valuesStopsign = selectedData.map(entry => entry['stopsign']['total']);
            valuesPedestrian = selectedData.map(entry => entry['pedestrian']['total']);
            valuesRedlight = selectedData.map(entry => entry['redlight']['total']);
            valuesNearcollision = selectedData.map(entry => entry['nearcollision']['total']);

           // Create charts for yawn and smoking activities
            chartYawn = createChart(ctxYawn, 'Yawn', valuesYawn);
            chartSmoking = createChart(ctxSmoking, 'Smoking', valuesSmoking);
            chartDistraction = createChart(ctxDistraction, 'Distraction', valuesDistraction);
            chartMobilephone = createChart(ctxMobilephone, 'Mobile Phone', valuesMobilephone);
            chartEyeclosing = createChart(ctxEyeclosing, 'Eye Closing', valuesEyeclosing);
            chartCrossinglanes = createChart(ctxCrossinglanes, 'Crossing Lanes', valuesCrossinglanes);
            chartPedestrian = createChart(ctxPedestrian, 'Pedestrian', valuesPedestrian);
            chartRedlight = createChart(ctxRedlight, 'Red Light', valuesRedlight);
            chartStopsign = createChart(ctxStopsign, 'Stop Sign', valuesStopsign);
            chartNearcollision = createChart(ctxNearcollision, 'Near Collision', valuesNearcollision);
        }
    });

    function aggregateData(data, months) {
    var aggregatedData = [];
    var currentDate = null;
    var currentAggregatedEntry = null;
    
    data.forEach(entry => {
        var entryDate = moment(entry['day'], 'YYYYMMDD');
        if (currentDate === null) {
            currentDate = entryDate;
            currentAggregatedEntry = {...entry};
        } else if (entryDate.diff(currentDate, 'months') < months) {
            // Add entry values to current aggregated entry
            activities.forEach(activity => {
                currentAggregatedEntry[activity]['total'] += entry[activity]['total'];
            });
        } else {
            aggregatedData.push(currentAggregatedEntry);
            currentDate = entryDate;
            currentAggregatedEntry = {...entry};
        }
    });
    
    // Add the last aggregated entry
    if (currentAggregatedEntry !== null) {
        aggregatedData.push(currentAggregatedEntry);
    }
    
    return aggregatedData;
}
    </script>
</body>
</html>
