<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview | Behavioural Indices</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="application/json" src="C:/Users/tanve/PycharmProjects/Drowsiness_detection/indices_timestamped.json"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Behavioural Indices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
{#      <li class="nav-item">#}
{#          <a class="nav-link" href="/dashboard">Dashboard</a>#}
{#      </li>#}
        <li class="nav-item">
          <a class="nav-link" href="/uploading">Processing Files</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistics">Statistics</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/db">Overview <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="card">
      <div class="card-body">
       <canvas id="myChart" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
    <div class="col-md-6">
    <div class="card">
      <div class="card-body">
       <canvas id="myChart_2" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="mychart_line"></canvas>
        </div>
    </div>
</div>
<script>
  const data = {
    labels: {{ data[0] | tojson}},
    datasets: [{
      label: 'Total Storage',
      backgroundColor: ['rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(255, 255, 186)',
                        'rgb(155, 155, 86)'],
      data: {{ data[1] | tojson }},
    }]
  };
  const config = {
    type: 'pie',
    data: data,
    options: {
        plugins: {
            legend: {
                position:'right'
            }
        }
    }
  };
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );


   const data_2 = {
  labels: {{ data[0] | tojson}},
  datasets: [{
    label: 'Total Driving Hours',
    data: {{ data[1] | tojson }},
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderWidth: 1
  }]
};
  const config_2= {
  type: 'bar',
  data: data_2,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: 'Chart.js Bar Chart'
      }
    }
  },
};
  const myChart_2 = new Chart(
    document.getElementById('myChart_2'),
    config_2
  );

    const data_line = {
  labels: {{ data[0] | tojson}},
  datasets: [{
    label: 'Total Driving Hours',
    data: {{ data[1] | tojson }},
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderWidth: 1
  }]
};
  const config_line= {
  type: 'bar',
  data: data_2,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: 'Chart.js Bar Chart'
      }
    }
  },
};
  const myChart_line = new Chart(
    document.getElementById('mychart_line'),
    config_2
  );
</script>

</body>
</html>